<template>
  <q-page padding class="">
    <!-- <div class="text-h6">Conversaciones page</div> -->
    <q-card flat>
      <q-tabs
        v-model="tab"
        dense
        class="bg-background text-grey"
        active-color="black"
        indicator-color="primary"
        align="left"
        narrow-indicator
        no-caps
      >
        <q-tab name="mails" label="Grupos de Trabajo" />
        <q-tab name="alarms" label="Proyectos de venta" />
        <q-tab name="movies" label="Mis proyectos" />
      </q-tabs>

      <q-separator />

      <q-tab-panels class="q-pa-md bg-background" v-model="tab" animated>
        <q-tab-panel name="mails">
          <!-- <div class="text-h6">Grupos</div> -->
          <div q-pa-md example-row-equal-width>
            <div class="row">
              <div class="col-4 bg-white">
                <q-input class="q-pd" dense round outlined v-model="text">
                  <template v-slot:append>
                    <q-avatar>
                      <q-btn text-color="primary" round dense flat icon="las la-search" />
                    </q-avatar>
                  </template>
                </q-input>
              </div>
              <div class="col-8">
                <q-item clickable v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Grupo 3 </q-item-label>
                    <q-item-label caption>Hilenia lizada, Jean Pierre, Luciana Visal</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
            <div class="row">
              <div class="col-4 bg-white">
                <q-list>
                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 2 </q-item-label>
                      <q-item-label caption>Hilenia lizada: Donec Blandic</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/avatar1.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 3 </q-item-label>
                      <q-item-label caption>Andrea Jimenez: Vestibulum justo</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/avatar3.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 5</q-item-label>
                      <q-item-label caption>Luciana Visal: quisque Vestibulum justo</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/mountains.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 4</q-item-label>
                      <q-item-label caption>Ximena Ingunza: Quispe feugiat conse</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-separator />
                </q-list>
              </div>
              <div class="col-8">
                <div class="q-pa-md row justify-center bg-background">
                  <div style="width: 100%; max-width: 600px">
                    <q-chat-message
                      name="me"
                      avatar="https://cdn.quasar.dev/img/avatar4.jpg"
                      :text="['hey, how are you?']"
                      stamp="7 minutes ago"
                      sent
                      text-color="white"
                      bg-color="primary"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['Ut reprehenderit commodo aliquip nisi laborum aliquip nostrud do dolor consectetur amet minim pariatur id.']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="me"
                      avatar="https://cdn.quasar.dev/img/avatar4.jpg"
                      :text="['Duis in incididunt nisi consequat quis pariatur consectetur do voluptate cillum commodo. adipisicing nostrud velit cupidatat deserunt ea enim.']"
                      stamp="7 minutes ago"
                      sent
                      text-color="white"
                      bg-color="primary"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="Jean Pierre"
                      avatar="https://cdn.quasar.dev/img/avatar1.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />

                  </div>
                </div>
                <q-input outlined round bottom-slots v-model="text" label="Escribe tu mensaje" counter maxlength="300" :dense="dense">
                  <template v-slot:before>
                    <q-btn text-color="primary" round dense flat icon="las la-smile" />
                    <q-btn text-color="primary" round dense flat icon="las la-paperclip" />
                  </template>

                  <template v-slot:append>
                    <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  </template>

                  <template v-slot:after>
                    <q-btn round dense flat icon="send" />
                  </template>
                </q-input>
              </div>
            </div>
          </div>
        </q-tab-panel>

        <q-tab-panel class="q-pa-md bg-background" name="alarms">
          <div class="text-h6">Proyectos de Venta</div>
          <div q-pa-md example-row-equal-width>
            <div class="row">
              <div class="col-4 bg-white">
                <q-input class="q-pd" round outlined v-model="text">
                  <template v-slot:append>
                    <q-avatar>
                      <q-btn text-color="primary" round dense flat icon="las la-search" />
                    </q-avatar>
                  </template>
                </q-input>
              </div>
              <div class="col-8">
                <q-item clickable v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Grupo 3 </q-item-label>
                    <q-item-label caption>Hilenia lizada, Jean Pierre, Luciana Visal</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
            <div class="row">
              <div class="col-4 bg-white">
                <q-list>
                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 2 </q-item-label>
                      <q-item-label caption>Hilenia lizada: Donec Blandic</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/avatar1.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 3 </q-item-label>
                      <q-item-label caption>Andrea Jimenez: Vestibulum justo</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/avatar3.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 5</q-item-label>
                      <q-item-label caption>Luciana Visal: quisque Vestibulum justo</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/mountains.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 4</q-item-label>
                      <q-item-label caption>Ximena Ingunza: Quispe feugiat conse</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-separator />
                </q-list>
              </div>
              <div class="col-8">
                <div class="q-pa-md row justify-center bg-background">
                  <div style="width: 100%; max-width: 600px">
                    <q-chat-message
                      name="me"
                      avatar="https://cdn.quasar.dev/img/avatar4.jpg"
                      :text="['hey, how are you?']"
                      stamp="7 minutes ago"
                      sent
                      text-color="white"
                      bg-color="primary"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['Ut reprehenderit commodo aliquip nisi laborum aliquip nostrud do dolor consectetur amet minim pariatur id.']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="me"
                      avatar="https://cdn.quasar.dev/img/avatar4.jpg"
                      :text="['Duis in incididunt nisi consequat quis pariatur consectetur do voluptate cillum commodo. adipisicing nostrud velit cupidatat deserunt ea enim.']"
                      stamp="7 minutes ago"
                      sent
                      text-color="white"
                      bg-color="primary"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="Jean Pierre"
                      avatar="https://cdn.quasar.dev/img/avatar1.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />

                  </div>
                </div>
                <q-input outlined round bottom-slots v-model="text" label="Escribe tu mensaje" counter maxlength="300" :dense="dense">
                  <template v-slot:before>
                    <q-btn text-color="primary" round dense flat icon="las la-smile" />
                    <q-btn text-color="primary" round dense flat icon="las la-paperclip" />
                  </template>

                  <template v-slot:append>
                    <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  </template>

                  <template v-slot:after>
                    <q-btn round dense flat icon="send" />
                  </template>
                </q-input>
              </div>
            </div>
          </div>
        </q-tab-panel>

        <q-tab-panel class="q-pa-md bg-background" name="movies">
          <div class="text-h6">Mis Proyectos</div>
          <div q-pa-md example-row-equal-width>
            <div class="row">
              <div class="col-4 bg-white">
                <q-input class="q-pd" round outlined v-model="text">
                  <template v-slot:append>
                    <q-avatar>
                      <q-btn text-color="primary" round dense flat icon="las la-search" />
                    </q-avatar>
                  </template>
                </q-input>
              </div>
              <div class="col-8">
                <q-item clickable v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Grupo 3 </q-item-label>
                    <q-item-label caption>Hilenia lizada, Jean Pierre, Luciana Visal</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
            <div class="row">
              <div class="col-4 bg-white">
                <q-list>
                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 2 </q-item-label>
                      <q-item-label caption>Hilenia lizada: Donec Blandic</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/avatar1.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 3 </q-item-label>
                      <q-item-label caption>Andrea Jimenez: Vestibulum justo</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/avatar3.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 5</q-item-label>
                      <q-item-label caption>Luciana Visal: quisque Vestibulum justo</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section avatar>
                      <q-avatar>
                        <img src="https://cdn.quasar.dev/img/mountains.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Grupo 4</q-item-label>
                      <q-item-label caption>Ximena Ingunza: Quispe feugiat conse</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-separator />
                </q-list>
              </div>
              <div class="col-8">
                <div class="q-pa-md row justify-center bg-background">
                  <div style="width: 100%; max-width: 600px">
                    <q-chat-message
                      name="me"
                      avatar="https://cdn.quasar.dev/img/avatar4.jpg"
                      :text="['hey, how are you?']"
                      stamp="7 minutes ago"
                      sent
                      text-color="white"
                      bg-color="primary"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['Ut reprehenderit commodo aliquip nisi laborum aliquip nostrud do dolor consectetur amet minim pariatur id.']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="me"
                      avatar="https://cdn.quasar.dev/img/avatar4.jpg"
                      :text="['Duis in incididunt nisi consequat quis pariatur consectetur do voluptate cillum commodo. adipisicing nostrud velit cupidatat deserunt ea enim.']"
                      stamp="7 minutes ago"
                      sent
                      text-color="white"
                      bg-color="primary"
                    />
                    <q-chat-message
                      name="Hilenia Lozano"
                      avatar="https://cdn.quasar.dev/img/avatar5.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />
                    <q-chat-message
                      name="Jean Pierre"
                      avatar="https://cdn.quasar.dev/img/avatar1.jpg"
                      :text="['doing fine, how r you?']"
                      stamp="4 minutes ago"
                      text-color="black"
                      bg-color="white"
                    />

                  </div>
                </div>
                <q-input outlined round bottom-slots v-model="text" label="Escribe tu mensaje" counter maxlength="300" :dense="dense">
                  <template v-slot:before>
                    <q-btn text-color="primary" round dense flat icon="las la-smile" />
                    <q-btn text-color="primary" round dense flat icon="las la-paperclip" />
                  </template>

                  <template v-slot:append>
                    <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  </template>

                  <template v-slot:after>
                    <q-btn round dense flat icon="send" />
                  </template>
                </q-input>
              </div>
            </div>
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
    <!-- <div class="q-pa-sm">
    </div> -->
    <!-- <div class="q-gutter">
    </div> -->
  </q-page>
</template>

<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      tab: ref('mails')
    }
  }
}
</script>

<!-- <script setup lang="ts">
</script> -->
