<template>
  <div>
    <label class="label--input">
      {{ label }}
    </label>
    <v-text-field
      class="mi-textfield"
      :class="{ 'input--disable': disabled }"
      dense
      outlined
      flat
      :type="type"
      :placeholder="placeholder"
      :disabled="disabled"
      :readonly="readonly"
      :autofocus="autofocus"
      hide-details="auto"
      :error-messages="modelError"
      @input="verificar"
      @blur="verificar"
      v-model="model"
      :rules="rules"
    />
  </div>
</template>
<script>
export default {
  props: {
    value: [String, Number],
    label: String,
    type: {
      default: () => {
        return 'text';
      },
    },
    disabled: {
      type: Boolean,
      default: () => {
        return false;
      },
    },
    readonly: {
      type: Boolean,
      default: () => {
        return false;
      },
    },
    autofocus: {
      type: Boolean,
      default: () => {
        return false;
      },
    },
    placeholder: String,
    valida: {
      type: Object,
      default: () => {
        return {
          required: false,
          email: false,
          numeric: false,
          alpha: false,
          alphaNum: false,
          maxLength: 0,
          minLength: 0,
          decimal: false,
          maxValue: 0,
          password: false,
        };
      },
    },
    v: {
      type: Object,
      required: false,
    },
    rules: Array,
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      },
    },
    modelError() {
      const errors = [];

      if (this.v) {
        if (!this.v.$dirty) {
          return errors;
        }

        if (this.valida.required) {
          !this.v.required && errors.push('Campo requerido');
        }
        if (this.valida.alpha) {
          !this.v.alpha && errors.push('Solo Letras');
        }

        if (this.valida.alphaNum) {
          !this.v.alphaNum && errors.push('Solo Letras y Numeros');
        }

        if (this.valida.email) {
          !this.v.email && errors.push('Email no valido');
        }

        if (this.valida.maxLength) {
          !this.v.maxLength &&
            errors.push(`Máximo ${this.valida.maxLength} caracteres`);
        }

        if (this.valida.minLength) {
          !this.v.minLength &&
            errors.push(`Mínimo ${this.valida.minLength} caracteres`);
        }

        if (this.valida.decimal) {
          !this.v.decimal && errors.push('Debe ser un decimal');
        }

        if (this.valida.numeric) {
          !this.v.numeric && errors.push('Debe ser un numero');
        }

        if (this.valida.maxValue) {
          !this.v.maxValue && errors.push(`Máximo ${this.valida.maxValue}`);
        }

        if (this.valida.minValue) {
          !this.v.minValue && errors.push(`Minimo ${this.valida.minValue}`);
        }

        if (this.valida.password) {
          !this.v.sameAsPassword &&
            errors.push('Las contraseñas deben ser iguales');
        }
      }
      return errors;
    },
  },
  methods: {
    verificar() {
      if (this.v) {
        this.v.$touch();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/settings/colors';
.input--disable {
  ::v-deep fieldset {
    background-color: $color-background;
  }
}
</style>
