<script setup lang="ts">
interface Props {
  description?: string;
}

const props = withDefaults(defineProps<Props>(), {
  description: 'Cancelar',
});
</script>

<template>
    <q-btn class="cancelButton" padding="md"  @click="$emit('click', $event)">
     <span class="cancelLabel">{{ props.description }}</span>
    </q-btn>
</template>

<style>
.cancelButton {
  min-width: 150px;
  border-radius: 40px;
  background-color: #F8F7FB !important;
}
.cancelLabel {
  font-weight: 700;
  font-size: 14px !important;
  line-height: 8px;
  color: #373458;
  letter-spacing: 2px;
}
</style>
