<template>
  <q-btn
    class="btn-custom-shadow"
    rounded
    :label="name"
    :color="color"
    :disable="disabled"
    :class="css"
    :icon="icon"
    icon-right="icon"
    @click="callback($event)"
  >
  </q-btn>
  <span>{{ nameTooltip }}</span>
</template>
<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';

interface Props {
  disabled?: boolean;
  name?: string;
  css?: string;
  nameTooltip?: string;
  icon?: string;
  color?: string;
}

const props = withDefaults(defineProps<Props>(),{
  disabled: false,
  name: '',
  css: '',
  nameTooltip: '',
  icon: '',
  color:  'primary',
});


//js
const emits = defineEmits(['click']);
const callback = (e: Event) => {
  emits('click', e);
};
//ts

</script>
