<template>
  <v-btn icon @click="$emit('click')" class="mt-n2">
    <v-icon color="#5A81FB">fas fa-times-circle</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'CloseButton',
};
</script>
