<template>
  <q-btn
    class="q-pd-md"
    rounded
    :color="color"
    :disable="disabled"
    :class="css"
    :icon="icon"
    icon-right="icon"
    @click="emits('click', $event)"
    >{{ name }}
  </q-btn>
</template>

<script lang="ts" setup>


interface MyButtonProps {
  disabled?: boolean
  name?: string
  css?: string
  nameTooltip?: string
  icon?: string
  color?: string;
}

const props = defineProps<MyButtonProps>()


// const emit = defineEmits(['click']);

// const callback = (evt : Event) => {
//   emit('click', evt)
// }


//ts
const emits = defineEmits<{
  (event: 'click' , evt: Event): void,
}>();

</script>
