<script setup lang="ts">
import { ref } from 'vue';
const value = ref('Todos');

interface Props {
  name?: string;
  list?: string[];
}

const props = withDefaults(defineProps<Props>(), {
  name: '',
});
</script>

<template>
  <div class="q-pa-md">
    <div class="fit row justify-between items-center content-start">
      <div class="col-3 label_custom">{{ props.name }}</div>
      <div class="col-9">
        <q-select
          v-model="value"
          class="custom_selected"
          use-input
          dense
          input-debounce="0"
          :options="props.list"
          behavior="menu"
          outlined
        >
        </q-select>
      </div>
    </div>
  </div>
</template>

<style>
.label_custom {
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  text-transform: uppercase;
}

.custom_selected {
  background-color: #fff !important;
}
/* .custom_selected .q-field__inner {
  color: #000000;
  border-radius: 8px;
  background-color: bisque;
}
.custom_selected .q-field__control {
  border-radius: 8px;
  min-height: 32px !important;
  height: 32px;
  background-color: aqua;
}

.custom_selected .q-field__native {
  min-height: 32px !important;
  height: 32px;
}

.custom_selected .q-field__append {
  min-height: 32px !important;
  height: 32px;
} */
</style>
