<script setup lang="ts">

interface Props {
  disabled?: boolean;
  editar?: boolean;
  css?: string;
}

const props = withDefaults(defineProps<Props>(), {
  disabled: false,
  editar: false,
  css: ''
});

</script>

<template>
  <q-btn
  flat
  round
  dense
  class="icon-list"
  icon="mdi-package-variant-closed"
  @click="$emit('click', $event)"
  :disabled="props.disabled" >
    <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
      <strong>Ver</strong>
    </q-tooltip>
  </q-btn>
</template>

<style>
</style>
