<script setup lang="ts">
import { ref } from 'vue';
import NewButton from '../../../components/buttons/new-button/NewButton.vue';
import HeaderListContent from '../../../components/content/HeaderListContent.vue';
import BoxButton from '../../../components/buttons/box-button/BoxButton.vue';
import EyeButton from '../../../components/buttons/eye-button/EyeButton.vue';
import EditButton from '../../../components/buttons/edit-button/EditButton.vue';
import DeleteButton from '../../../components/buttons/delete-button/DeleteButton.vue';
import SelectStatus from '../../../components/select/select-status/SelectStatus.vue';

import SaveButton from '../../../components/buttons/save-button/SaveButton.vue';
import CancelButton from '../../../components/buttons/cancel-button/CancelButton.vue';

const inception = ref(false);
const text = ref('');
const tab = ref('detalle');

const proveedor = ref('Aceros Arequipa');
const glosaCompra = ref('Decena de saco de cemento');
const moneda = ref('USD');
const contacto = ref('Juan');

const montoGeneral = ref('50,000');
const totalSinImpuesto = ref('50,000');
const impuesto = ref('5,000');
const total = ref('55,000');
const detail = ref('detalle');

const headerList = [
  'N° ORDEN',
  'GLOSA COMPRA',
  'PROVEEDOR',
  'CONTACTO',
  'FECHA EMISIÓN',
  'FECHA ENTREGA',
  'TIPO',
  'ESTADO',
  '',
];
const rows = [
  {
    codigo: 'OC-254',
    glosaCompra: 'Glosa compra 1',
    proveedor: 'Aceros Arequipa',
    contacto: 'Raúl Lopez',
    fechaEmision: '21/08/2020',
    fechaEntrega: '28/08/2020',
    tipo: 'Bien',
    estado: 'ENTREGADO',
  },
  {
    codigo: 'OC-254',
    glosaCompra: 'Cajas Castillo',
    proveedor: 'Aceros Arequipa',
    contacto: 'Raúl Lopez',
    fechaEmision: '21/08/2020',
    fechaEntrega: '28/08/2020',
    tipo: 'Bien',
    estado: 'ENTREGADO',
  },
  {
    codigo: 'OC-254',
    glosaCompra: 'Proveedor 3',
    proveedor: 'Aceros Arequipa',
    contacto: 'Raúl Lopez',
    fechaEmision: '21/08/2020',
    fechaEntrega: '28/08/2020',
    tipo: 'Bien',
    estado: 'PENDIENTE PARCIAL',
  },
  {
    codigo: 'OC-254',
    glosaCompra: 'Glosa compra 1',
    proveedor: 'Aceros Arequipa',
    contacto: 'Raúl Lopez',
    fechaEmision: '21/08/2020',
    fechaEntrega: '28/08/2020',
    tipo: 'Bien',
    estado: 'PENDIENTE',
  },
  {
    codigo: 'OC-254',
    glosaCompra: 'Cajas Castillo',
    proveedor: 'Aceros Arequipa',
    contacto: 'Raúl Lopez',
    fechaEmision: '21/08/2020',
    fechaEntrega: '28/08/2020',
    tipo: 'Bien',
    estado: 'PENDIENTE',
  },
  {
    codigo: 'OC-254',
    glosaCompra: 'Glosa compra 1',
    proveedor: 'Proveedor 3',
    contacto: 'Raúl Lopez',
    fechaEmision: '21/08/2020',
    fechaEntrega: '28/08/2020',
    tipo: 'Bien',
    estado: 'ENTREGADO',
  },
];

const statusList = ref(['Todos', 'Estado 1', 'Estado 2']);
const typeList = ref(['Todos', 'Tipo 1', 'Tipo 2']);

function nuevo() {
  inception.value = true;
}
function view() {
  inception.value = true;
}
function editar() {
  inception.value = true;
}
function trash() {
  console.log('trash');
}
function close() {
  inception.value = false;
}
function box() {
  inception.value = true;
}
</script>

<template>
  <q-page style="padding-left: 30px; padding-right: 20px">
    <div class="q-pa-md">
      <div class="q-pa-md">
        <div class="fit row wrap justify-start items-center content-start">
          <div class="col-1" style="width: 180px">
            <NewButton @click="nuevo" />
          </div>
          <div class="col-3">
            <SelectStatus name="ESTADO" :list="statusList" />
          </div>
          <div class="col-3">
            <SelectStatus name="TIPO" :list="typeList" />
          </div>
        </div>
      </div>

      <HeaderListContent description="Órdenes de compra" />

      <div class="q-pa-md">
        <div
          class="fit row wrap justify-between items-center content-start header"
        >
          <div
            class="col-1 label-header"
            v-for="(item, index) in headerList"
            :key="index"
          >
            {{ item }}
          </div>
        </div>
        <div
          class="fit row wrap justify-between items-center content-start header"
          v-for="(item, index) in rows"
          :key="index"
        >
          <div class="col-1 label-list">{{ item.codigo }}</div>
          <div class="col-1 label-list">{{ item.glosaCompra }}</div>
          <div class="col-1 label-list">{{ item.proveedor }}</div>
          <div class="col-1 label-list">{{ item.contacto }}</div>
          <div class="col-1 label-list">{{ item.fechaEmision }}</div>
          <div class="col-1 label-list">{{ item.fechaEntrega }}</div>
          <div class="col-1 label-list">{{ item.tipo }}</div>
          <div class="col-1">
            <q-badge
              style="background-color: #dffaf0; border-radius: 15px"
              v-if="item.estado == 'ENTREGADO'"
            >
              <span
                style="
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  color: #28d99a;
                  padding: 5px;
                  letter-spacing: 1px;
                "
                >ENTREGADO</span
              >
            </q-badge>
            <q-badge
              style="background-color: #ffecec; border-radius: 15px"
              v-else-if="item.estado == 'PENDIENTE'"
            >
              <span
                style="
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  color: #ff7e7e;
                  padding: 5px;
                  letter-spacing: 1px;
                "
                >INACTIVO</span
              >
            </q-badge>
            <q-badge
              style="background-color: #fff3e0; border-radius: 15px"
              v-else
            >
              <span
                style="
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  color: #ffad2c;
                  padding: 5px;
                  letter-spacing: 1px;
                "
                >PENDIENTE PARCIAL</span
              >
            </q-badge>
          </div>
          <div class="col-1">
            <div
              class="fit row wrap justify-between items-center content-start"
            >
              <BoxButton @click="box" />
              <EyeButton @click="view" />
              <EditButton @click="editar" />
              <DeleteButton @click="trash" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <q-dialog v-model="inception">
      <q-card style="width: 1400px; max-width: 80vw">
        <q-card-section style="padding-bottom: 0%">
          <div class="q-pa-md row items-center q-pb-none">
            <div style="font-weight: 700; font-size: 24px; color: #373458">
              Orden de compra
            </div>
            <q-space />
            <q-btn
              round
              color="primary"
              style="background-color: #f1eefb !important"
              size="1.1em"
              v-close-popup
            >
              <q-icon name="mdi-close-thick" color="primary" />
            </q-btn>
          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div>
            <q-tabs
              v-model="tab"
              class="text-grey"
              active-color="primary"
              indicator-color="primary"
              align="left"
              narrow-indicator
            >
              <q-tab name="detalle" label="Detalle"></q-tab>
              <q-tab name="condicion" label="Condición de pago"></q-tab>
            </q-tabs>

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="detalle">
                <div
                  class="row q-col-gutter-x-lg q-col-gutter-y-md align-center justify-between"
                  style="align-items: center"
                >
                  <div class="col-8">
                    <div class="row q-col-gutter-x-lg q-col-gutter-y-md">
                      <div class="col-6">
                        <span>PROVEEDOR</span>
                        <q-input
                          rounded
                          outlined
                          v-model="proveedor"
                          dense
                          style="margin-top: 8px"
                          readonly
                        />
                      </div>
                      <div class="col-6">
                        <span>GLOSA DE COMPRA</span>
                        <q-input
                          rounded
                          outlined
                          v-model="glosaCompra"
                          dense
                          style="margin-top: 8px"
                          readonly
                        />
                      </div>
                      <div class="col-6">
                        <span>MONEDA</span>
                        <q-input
                          rounded
                          outlined
                          v-model="moneda"
                          dense
                          style="margin-top: 8px"
                          readonly
                        />
                      </div>
                      <div class="col-6">
                        <span>CONTACTO</span>
                        <q-input
                          rounded
                          outlined
                          v-model="contacto"
                          dense
                          style="margin-top: 8px"
                          readonly
                        />
                      </div>
                      <div class="col-6" style="padding-left: 14px">
                        <q-radio
                          v-model="detail"
                          val="detalle"
                          label="Detalle"
                          size="lg"
                        />
                        <q-radio
                          v-model="detail"
                          val="sinDetalle"
                          label="Sin detalle"
                          size="lg"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-4">
                    <div
                      class="fit row justify-between items-center content-start"
                      style="height: 210px !important; row-gap: 20px;">
                      <div class="col-4">
                        <span>N° Orden:</span>
                      </div>
                      <div class="col-3"></div>
                      <div class="col-4">OC-254</div>
                      <div class="col-4">
                        <span>Estado:</span>
                      </div>
                      <div class="col-3"></div>
                      <div class="col-4">
                        <q-badge
                          style="background-color: #FFAD2C; border-radius: 6px"
                        >
                          <span
                            style="
                              font-style: normal;
                              font-weight: 600;
                              font-size: 14px;
                              color: white;
                              padding: 5px;
                              letter-spacing: 1px;
                            "
                            >Pendiente</span
                          >
                        </q-badge>
                      </div>
                      <div class="col-4">
                        <span>Fecha Emisión:</span>
                      </div>
                      <div class="col-3"></div>
                      <div class="col-4">24/10/2020</div>
                      <div class="col-4">
                        <span>Fecha Entrega:</span>
                      </div>
                      <div class="col-3"></div>
                      <div class="col-4">24/10/2020</div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <q-markup-table flat separator="none">
                    <thead>
                      <tr>
                        <th
                          class="text-left"
                          style="
                            font-weight: 600;
                            font-size: 16px;
                            padding-left: 0%;
                          "
                        >
                          #
                        </th>
                        <th
                          class="text-left"
                          style="font-weight: 600; font-size: 16px"
                        >
                          Producto
                        </th>
                        <th
                          class="text-left"
                          style="font-weight: 600; font-size: 16px"
                        >
                          Descripción
                        </th>
                        <th
                          class="text-left"
                          style="font-weight: 600; font-size: 16px"
                        >
                          Cantidad
                        </th>
                        <th
                          class="text-left"
                          style="font-weight: 600; font-size: 16px"
                        >
                          Precio unitario
                        </th>
                        <th
                          class="text-left"
                          style="font-weight: 600; font-size: 16px"
                        >
                          % Dscto.
                        </th>
                        <th
                          class="text-left"
                          style="font-weight: 600; font-size: 16px"
                        >
                          Total
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td
                          class="text-left"
                          style="
                            font-weight: 600;
                            font-size: 16px;
                            padding-left: 0%;
                          "
                        >
                          1
                        </td>
                        <td class="text-left" style="font-size: 16px">
                          Laptop Lenovo 16"
                        </td>
                        <td class="text-left" style="font-size: 16px">
                          Laptop gaming Lenovo 16" GTX
                        </td>
                        <td class="text-left" style="font-size: 16px">10</td>
                        <td class="text-left" style="font-size: 16px">
                          S/.5,000
                        </td>
                        <td class="text-left" style="font-size: 16px">0</td>
                        <td class="text-left" style="font-size: 16px">
                          S/.50,000
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="text-left"
                          style="
                            font-weight: 600;
                            font-size: 16px;
                            padding-left: 0%;
                          "
                        >
                          2
                        </td>
                        <td class="text-left flex row items-center">
                          <div
                            class="text-weight-bold"
                            style="
                              color: #6f51ff;
                              font-size: 14px;
                              margin-right: 5px;
                            "
                          >
                            AÑADIR PRODUCTO
                          </div>
                          <q-icon
                            name="mdi-plus-box"
                            color="primary"
                            size="2rem"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </q-markup-table>
                </div>
                <div class="col-12" style="margin-top: 10px">
                  <strong>COMENTARIO</strong>
                  <div
                    class="row q-col-gutter-x-lg q-col-gutter-y-md align-center justify-between"
                    style="align-items: center"
                  >
                    <div class="col-4">
                      <div>
                        <q-input
                          v-model="text"
                          filled
                          type="textarea"
                          placeholder="Escribir comentario"
                          style="margin-top: 8px"
                          rows="6"
                        />
                      </div>
                    </div>

                    <div class="col-7">
                      <q-card>
                        <q-card-section
                          style="padding-top: 0px; padding-bottom: 0px"
                        >
                          <div class="q-pa-md">
                            <div
                              class="text-weight-bold"
                              style="font-size: 14px; margin-bottom: 20px"
                            >
                              MONTO DE TRANSACCIÓN
                            </div>
                            <div
                              class="row q-col-gutter-x-lg q-col-gutter-y-md"
                            >
                              <div class="col-3">
                                <span>MONTO GENERAL</span>
                                <q-input
                                  rounded
                                  outlined
                                  v-model="montoGeneral"
                                  dense
                                  style="margin-top: 8px"
                                  readonly
                                />
                              </div>
                              <div class="col-3">
                                <span>TOTAL SIN IMPUESTO</span>
                                <q-input
                                  rounded
                                  outlined
                                  v-model="totalSinImpuesto"
                                  dense
                                  style="margin-top: 8px"
                                  readonly
                                />
                              </div>
                              <div class="col-3">
                                <span>IMPUESTO</span>
                                <q-input
                                  rounded
                                  outlined
                                  v-model="impuesto"
                                  dense
                                  style="margin-top: 8px"
                                  readonly
                                />
                              </div>
                              <div class="col-3">
                                <span>MONTO TOTAL</span>
                                <q-input
                                  rounded
                                  outlined
                                  v-model="total"
                                  dense
                                  bg-color="primary"
                                  input-style="color: white;"
                                  style="margin-top: 8px"
                                  readonly
                                />
                              </div>
                            </div>
                          </div>
                        </q-card-section>
                      </q-card>
                    </div>
                  </div>
                </div>
              </q-tab-panel>

              <q-tab-panel name="condicion"> Condicion </q-tab-panel>
            </q-tab-panels>
          </div>
        </q-card-section>

        <q-card-actions>
          <div
            class="q-pa-md fit row wrap justify-between items-start content-start"
          >
            <div>
              <CancelButton @click="close" description="Descargar (PDF)" />
            </div>
            <div>
              <CancelButton @click="close" />
              <SaveButton @click="close" />
            </div>
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<style lang="scss">
.header {
  margin-bottom: 10px;
  box-shadow: 0px 8px 8px rgba(111, 81, 255, 0.04);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.label-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2c3852;
}
.label-list {
  font-size: 15px;
  line-height: 16px;
  color: #2c3852;
}

.q-field--outlined.q-field--rounded .q-field__control {
  border-radius: 8px;
  background-color: #f8f7fb;
}
.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: none;
}
</style>
