<script setup lang="ts">
import { ref } from 'vue'
const text = ref('')

interface Props {
  description?: string;
}

const props = withDefaults(defineProps<Props>(), {
  description: '',
});
</script>

<template>
  <div class="q-pa-md">
    <div class="fit row justify-between items-center content-start">
      <div class="col-3 description">{{ props.description }}</div>
      <div class="col-3">
        <q-input outlined v-model="text" placeholder="Búsqueda" dense class="custom-input">
          <template v-slot:append>
            <q-icon v-if="text === ''" name="search" color="primary"/>
            <q-icon v-else name="clear" class="cursor-pointer" @click="text = ''" color="primary"/>
          </template>
        </q-input>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #373458;
}
.custom-input{
  background-color: white;
}
</style>

