<script setup lang="ts">
</script>

<template>

    <q-btn class="saveButton" color="primary" padding="md"  @click="$emit('click', $event)">
     <span class="saveLabel">Guardar</span>
    </q-btn>

</template>

<style>
.saveButton {
  width: 150px;
  border-radius: 40px;
  margin-left: 20px;
}
.saveLabel {
  font-weight: 700;
  font-size: 14px !important;
  line-height: 8px;
  color: #FFFFFF;
  letter-spacing: 2px;
}
</style>
