<script setup lang="ts">
import { ref } from 'vue';
import NewButton from '../../../components/buttons/new-button/NewButton.vue';
import HeaderListContent from '../../../components/content/HeaderListContent.vue';
import EyeButton from '../../../components/buttons/eye-button/EyeButton.vue';
import EditButton from '../../../components/buttons/edit-button/EditButton.vue';
import DeleteButton from '../../../components/buttons/delete-button/DeleteButton.vue';
import SelectStatus from '../../../components/select/select-status/SelectStatus.vue';

import SaveButton from '../../../components/buttons/save-button/SaveButton.vue';
import CancelButton from '../../../components/buttons/cancel-button/CancelButton.vue';

const inception = ref(false);
const products = ref(false);
const text = ref('');
const estado = ref('activo');

const headerList = [
  'NOMBRE',
  'CONTACTO',
  'CORREO',
  'TELÉFONO',
  'TIPO',
  'DIRECCIÓN',
  'ESTADO',
  '',
];
const rows = [
  {
    nombre: 'Aceros Arequipa',
    contacto: 'Fernando Morón',
    correo: 'aarequipa@gmail.com',
    telefono: '+51 978 857 234',
    tipo: 'Bienes',
    direccion: 'San Miguel 1478',
    estado: 'ACTIVO',
  },
  {
    nombre: 'Cajas Castillo',
    contacto: 'Fernando Morón',
    correo: 'aarequipa@gmail.com',
    telefono: '+51 978 857 234',
    tipo: 'Bienes',
    direccion: 'San Miguel 1478',
    estado: 'ACTIVO',
  },
  {
    nombre: 'Aceros Arequipa',
    contacto: 'Fernando Morón',
    correo: 'aarequipa@gmail.com',
    telefono: '+51 978 857 234',
    tipo: 'Bienes',
    direccion: 'San Miguel 1478',
    estado: 'ACTIVO',
  },
  {
    nombre: 'Cajas Castillo',
    contacto: 'Fernando Morón',
    correo: 'aarequipa@gmail.com',
    telefono: '+51 978 857 234',
    tipo: 'Bienes',
    direccion: 'San Miguel 1478',
    estado: 'INACTIVO',
  },
  {
    nombre: 'Aceros Arequipa',
    contacto: 'Fernando Morón',
    correo: 'aarequipa@gmail.com',
    telefono: '+51 978 857 234',
    tipo: 'Bienes',
    direccion: 'San Miguel 1478',
    estado: 'INACTIVO',
  },
  {
    nombre: 'Cajas Castillo',
    contacto: 'Fernando Morón',
    correo: 'aarequipa@gmail.com',
    telefono: '+51 978 857 234',
    tipo: 'Bienes',
    direccion: 'San Miguel 1478',
    estado: 'ACTIVO',
  },
];


const productsColumns = [
  {
    name: 'codigo',
    label: '#',
    align: 'left',
    sortable: false,
    field: 'codigo'
  },
  { name: 'nombre', align: 'center', label: 'NOMBRE', sortable: false, field: 'nombre' },
  { name: 'descripcion', align: 'center', label: 'DESCRIPCIÓN', sortable: false , field: 'descripcion' },
  { name: 'stock', align: 'center', label: 'EN STOCK', sortable: false, field: 'stock' },
  { name: 'comprometido',align: 'center', label: 'COMPROMETIDO', sortable: false , field: 'comprometido' },
  { name: 'disponible',align: 'center', label: 'DISPONIBLE', sortable: false , field: 'disponible' },
]

const productsRows = [
  {
    codigo: '001',
    nombre: 'Producto 1',
    descripcion: 'USB Kingstong',
    stock: 90,
    comprometido: 10,
    disponible: 80,
  }
]



const statusList = ref(['Todos', 'Estado 1', 'Estado 2']);
const typeList = ref(['Todos', 'Tipo 1', 'Tipo 2']);

function nuevo() {
  inception.value = true;
}
function view() {
  console.log('view');
}
function editar() {
  inception.value = true;
}
function trash() {
  inception.value = true;
}
function close() {
  inception.value = false;
}
</script>

<template>
  <q-page style="padding-left: 30px; padding-right: 20px">
    <div class="q-pa-md">
      <div class="q-pa-md">
        <div class="fit row wrap justify-start items-center content-start">
          <div class="col-1" style="width: 180px">
            <NewButton @click="nuevo" />
          </div>
          <div class="col-3">
            <SelectStatus name="ESTADO" :list="statusList" />
          </div>
          <div class="col-3">
            <SelectStatus name="TIPO" :list="typeList" />
          </div>
        </div>
      </div>

      <HeaderListContent description="Nuevos Proveedores" />

      <div class="q-pa-md">
        <div
          class="fit row wrap justify-between items-center content-start header"
        >
          <div
            class="col-1 label-header"
            v-for="(item, index) in headerList"
            :key="index"
          >
            {{ item }}
          </div>
        </div>
        <div
          class="fit row wrap justify-between items-center content-start header"
          v-for="(item, index) in rows"
          :key="index"
        >
          <div class="col-1 label-list">{{ item.nombre }}</div>
          <div class="col-1 label-list">{{ item.contacto }}</div>
          <div class="col-1 label-list">{{ item.correo }}</div>
          <div class="col-1 label-list">{{ item.telefono }}</div>
          <div class="col-1 label-list">{{ item.tipo }}</div>
          <div class="col-1 label-list">{{ item.direccion }}</div>
          <div class="col-1">
            <q-badge
              style="background-color: #dffaf0; border-radius: 15px"
              v-if="item.estado == 'ACTIVO'"
            >
              <span
                style="
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  color: #28d99a;
                  padding: 5px;
                  letter-spacing: 1px;
                "
                >ACTIVO</span
              >
            </q-badge>
            <q-badge
              style="background-color: #ffecec; border-radius: 15px"
              v-else
            >
              <span
                style="
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  color: #ff7e7e;
                  padding: 5px;
                  letter-spacing: 1px;
                "
                >INACTIVO</span
              >
            </q-badge>
          </div>
          <div class="col-1">
            <div
              class="fit row wrap justify-between items-center content-start"
            >
              <EyeButton @click="view" />
              <EditButton @click="editar" />
              <DeleteButton @click="trash" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <q-dialog v-model="inception">
      <q-card style="width: 800px; max-width: 80vw">
        <q-card-section style="padding-bottom: 0%">
          <div class="q-pa-md row items-center q-pb-none">
            <div style="font-weight: 700; font-size: 24px; color: #373458">
              Nuevo Proveedor
            </div>
            <q-space />
            <q-btn
              round
              color="primary"
              style="background-color: #f1eefb !important"
              size="1.1em"
              v-close-popup
            >
              <q-icon name="mdi-close-thick" color="primary" />
            </q-btn>
          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="q-pa-md">
            <div class="row q-col-gutter-x-lg q-col-gutter-y-md">
              <div class="col-6">
                <strong>NOMBRE DEL PROVEEDOR</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>TIPO DE PROVEEDOR</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>PERSONA DE CONTACTO</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>TELÉFONO</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>CORREO ELECTRÓNICO</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>DIRECCIÓN</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>ESTADO</strong>
                <div>
                  <q-radio
                    v-model="estado"
                    val="activo"
                    label="Activo"
                    size="lg"
                  />
                  <q-radio
                    v-model="estado"
                    val="inactivo"
                    label="Inactivo"
                    size="lg"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="q-pa-md">
            <div class="row q-col-gutter-x-md">
              <div class="col-6">
                <strong>NOMBRE DEL PROVEEDOR</strong>
                <q-input outlined v-model="text" dense />
              </div>
              <div class="col-6">
                <strong>TIPO DE PROVEEDOR</strong>
                <q-input outlined v-model="text" dense />
              </div>
            </div>
            <div class="row q-col-gutter-x-md">
              <div class="col-6">
                <strong>PERSONA DE CONTACTO</strong>
                <q-input outlined v-model="text" dense />
              </div>
              <div class="col-6">
                <strong>TELÉFONO</strong>
                <q-input outlined v-model="text" dense />
              </div>
            </div>
            <div class="row q-col-gutter-x-md">
              <div class="col-6">
                <strong>CORREO ELECTRÓNICO</strong>
                <q-input outlined v-model="text" dense />
              </div>
              <div class="col-6">
                <strong>DIRECCIÓN</strong>
                <q-input outlined v-model="text" dense />
              </div>
            </div>
            <div class="row q-col-gutter-x-md">
              <div class="col-6">
                <strong>ESTADO</strong>
                <q-input outlined v-model="text" dense />
              </div>
            </div>
          </div> -->
        </q-card-section>

        <q-card-actions>
          <div
            class="q-pa-md fit row wrap justify-end items-start content-start"
          >
            <CancelButton @click="close" />
            <SaveButton @click="close" />
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="products">
      <q-card style="width: 800px; max-width: 80vw">
        <q-card-section style="padding-bottom: 0%;">
          <div class="q-pa-md row items-center q-pb-none">
            <div style="font-weight: 700; font-size: 24px; color: #373458">
              Lista de Productos
            </div>
            <q-space />
            <q-btn
              round
              color="primary"
              style="background-color: #f1eefb !important"
              size="1.1em"
              v-close-popup
            >
              <q-icon name="mdi-close-thick" color="primary" />
            </q-btn>
          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="q-pa-md">
            <div class="row q-col-gutter-x-lg q-col-gutter-y-md">
              <div class="col-12">
                <div>
                  <q-radio
                    v-model="estado"
                    val="activo"
                    label="Bien"
                    size="lg"
                  />
                  <q-radio
                    v-model="estado"
                    val="inactivo"
                    label="Servicio"
                    size="lg"
                  />
                </div>
              </div>
              <div class="col-6">
                <SelectStatus name="ESTADO" :list="statusList" />
              </div>
              <div class="col-6">
                <SelectStatus name="ESTADO" :list="statusList" />
              </div>

              <div class="col-12">
                <q-table
                  flat
                  :rows="productsRows"
                  :columns="productsColumns"
                  row-key="name"
                  separator="none"
                />
              </div>
            </div>
          </div>
        </q-card-section>

        <q-card-actions>
          <div
            class="q-pa-md fit row wrap justify-end items-start content-start"
          >
            <CancelButton @click="close" />
            <SaveButton @click="close" />
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<style lang="scss">
.header {
  margin-bottom: 10px;
  box-shadow: 0px 8px 8px rgba(111, 81, 255, 0.04);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.label-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2c3852;
}
.label-list {
  font-size: 15px;
  line-height: 16px;
  color: #2c3852;
}
</style>
