<template>
  <q-page class="flex column q-pa-md">
    <h1>h1: Headline</h1>
    <span class="text-h1">text-h1: Headline 1</span>
    <span class="text-h2">text-h2: Headline 2</span>
    <span class="text-h3">text-h3: Headline 3</span>
    <span class="text-h3-bold">text-h3-bold: Headline 3</span>
    <!-- <span class="text-h4">text-h4: Headline 4</span>
    <span class="text-h5">text-h5: Headline 5</span>
    <span class="text-h6">text-h6: Headline 6</span> -->

    <q-separator></q-separator>
<!--
    <span class="text-subtitle 1">Subtitle 1</span>
    <span class="text-subtitle 2">Subtitle 2</span>

    <q-separator></q-separator>

    <p class="text-body1">text-body1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque, impedit officia distinctio possimus deserunt aliquam qui, modi quis molestiae aperiam! Laboriosam asperiores sunt vel explicabo accusantium, quia magnam. Ipsam?</p>
    <p class="text-body2">text-body2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque, impedit officia distinctio possimus deserunt aliquam qui, modi quis molestiae aperiam! Laboriosam asperiores sunt vel explicabo accusantium, quia magnam. Ipsam?</p>

    <q-separator></q-separator> -->

    <q-separator></q-separator>

    <p class="text-body-14">text-body-14: Body text</p>
    <p class="text-body-14-bold">text-body-14-bold: Body text</p>
    <p class="text-body-article">text-body-article: Body text article</p>
    <p class="text-body-small">text-body-small: Body text small</p>
    <p class="text-body-small-semibold">text-body-small-semibold: Body text small semibold</p>
    <p class="text-body-secondary">text-body-small-secondary: Body text small secondary</p>
    <p class="text-help">text-help: text help</p>
    <p class="text-uppercase">text-uppercase: text uppercase</p>
    <p class="text-uppercase-small">text-uppercase small: text uppercase small</p>

    <q-separator></q-separator>

    <!-- <span class="text-weight-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    <span class="text-weight-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    <span class="text-weight-regular">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    <span class="text-weight-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    <span class="text-weight-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    <span class="text-weight-bolder">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> -->

    <q-separator></q-separator>

  </q-page>
</template>

<script setup lang="ts">
</script>
