<script setup lang="ts">
</script>

<template>

    <q-btn class="newButton" color="primary" padding="md"  @click="$emit('click', $event)">
     <span class="label">Nuevo</span>
    </q-btn>

</template>

<style>
.newButton {
  width: 150px;
  border-radius: 40px;
}
.label {
  font-weight: 700;
  font-size: 16px !important;
  line-height: 14px;
  color: #FFFFFF;
  letter-spacing: 2px;
}
</style>
