<template>
  <q-page class="flex column">
    <div class="text-h6">Agenda</div>
    <div class="q-pa">
      <div class="q-gutter">
        <q-card>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="left"
            narrow-indicator
          >
          <!-- <q-tab name="mails" label="Activos" icon="las la-calendar" />
          <q-tab name="alarms" label="Archivados" icon="las la-list-ul" /> -->
            <q-tab name="mails" label="Lista" icon="las la-calendar" />
            <q-tab name="alarms" label="Calendario" icon="las la-list-ul" />
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="mails">
              <div class="text-h6">Nuevas actividades</div>
              <div class="q-pa-md">
                <q-table
                  :grid="$q.screen.xs"
                  flat bordered
                  :rows="rows"
                  :columns="columns"
                  row-key="name"
                  :filter="filter"
                >
                <template v-slot:top-right>
                  <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template>
                <template v-slot:body-cell-prioridad="props">
                  <q-td :props="props">
                    <div>
                      <q-badge
                        color="black"
                        :label="props.value"
                        v-if="props.value == 'Media'"
                      />
                      <q-badge color="red" :label="props.value" v-else />
                    </div>
                  </q-td>
                </template>
                <template v-slot:body-cell-image="props">
                  <q-td :props="props">
                    <q-avatar size="42px">
                      <img src="https://cdn.quasar.dev/img/avatar2.jpg">
                      <!-- <img :src="props.value"> -->
                    </q-avatar>
                  </q-td>
                </template>
                <template v-slot:body-cell-acciones="props">
                  <q-td :props="props">
                    <div class="q-pa-xs q-gutter-xs">
                      <q-btn flat round color="primary" icon="edit" />
                      <q-btn flat round color="primary" icon="delete" />
                    </div>
                  </q-td>
                </template>
                </q-table>
              </div>
            </q-tab-panel>

            <q-tab-panel name="alarms">
              <div class="text-h6">Calendario</div>
              TODO: Calendario y lista de tareas
            </q-tab-panel>

          </q-tab-panels>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref } from 'vue'

{/*  */}

const columns = [
  {
    name: 'tarea',
    required: true,
    label: '',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'contacto', align: 'center', label: 'Contacto', field: 'contacto', sortable: true },
  { name: 'inicio', align: 'center', label: 'inicio', field: 'inicio', sortable: true },
  { name: 'final',align: 'center', label: 'final', field: 'final', sortable: true },
  { name: 'prioridad', label: 'prioridad', field: 'prioridad', sortable: true },
  { name: 'tiempo', label: 'tiempo', field: 'tiempo', sortable: true },
  { name: 'image', align: 'center', label: 'Image'},
  { name: 'acciones', align: 'center', label: 'Acciones'},
]

const rows = [
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: '01 Presupuesto Preliminar',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Alta',
    tiempo: '86h',
    acciones: '',
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: '02 Consultar formato',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Media',
    tiempo: '86h',
    acciones: '',
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: '03 Presupuesto preliminar',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Alta',
    tiempo: '86h',
    acciones: '',
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: '04 Consultar formato',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Alta',
    tiempo: '86h',
    acciones: '',
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: '05 Presupuesto preliminar',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Media',
    tiempo: '86h',
    acciones: '',
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: '06 Consultar formato',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Alta',
    tiempo: '86h',
    acciones: '',
  }
]

export default {

  setup () {
    return {
      tab: ref('mails'),
      filter: ref(''),
      columns,
      rows
    }
  }
}
</script>
<!-- <script setup lang="ts">
</script> -->
