<template>
  <q-route-tab
    to="/page1"
    label="Grupos de Trabajo"
  >
  </q-route-tab>
  <q-item
    clickable
    tag="a"
    @click="navigateTo"
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';

export interface EssentialLinkProps {
  title: string;
  caption?: string;
  link?: string;
  icon?: string;
}

const props = withDefaults(defineProps<EssentialLinkProps>(), {
  caption: '',
  link: '#',
  icon: '',
});

const router = useRouter()

function navigateTo(){
  if (props.link.startsWith('http')){
    window.open(props.link, '_blank')
  }else{
    router.push({ name: props.link })
  }
}

</script>
