<template>
  <q-page padding>
    <!-- <div class="text-h6">Projects page</div> -->
    <div class="q-pa-md">
      <div class="row">
        <div class="col-4 q-pa-sm">

          <q-table
            flat
            ref="tableRef"
            title="Grupos de Trabajo"
            :rows="rows"
            :columns="columns"
            :table-colspan="9"
            row-key="index"
            virtual-scroll
            :virtual-scroll-item-size="48"
            :pagination="pagination"
            :rows-per-page-options="[0]"
            v-model:expanded="expanded"
            hide-header
          >
          <template v-slot:top-left>
            <q-btn borderless dense flat no-caps width="100%">
              <strong>Grupos de Trabajo</strong>
            </q-btn>
            <!-- <q-avatar color="accent-10" class="text-primary" size="42px" icon="group"/> -->
            <!-- <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input> -->
          </template>
          <template v-slot:top-right>
            <q-avatar color="accent-10" class="text-primary" size="42px" icon="group"/>
          </template>
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width />

              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props" :key="`m_${props.row.index}`" class="bg-background">
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                <strong>{{ col.value }}</strong>
              </q-td>
              <q-td auto-width>
                <q-btn size="sm" color="" flat dense @click="props.expand = !props.expand" :icon="props.expand ? 'las la-angle-up' : 'las la-angle-down'" />
              </q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props" :key="`e_${props.row.index}`" class="q-virtual-scroll--with-prev">
              <q-td colspan="100%">
                <div class="text-left">
                  <q-item v-for="hijo in props.row.hijos" :key="hijo.name" clickable v-ripple>
                    <q-item-section>
                      <q-item-label>{{ hijo.name }} </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <q-item-label>
                        <q-btn :text-color="hijo.color" round dense flat icon="circle" />
                        {{ hijo.cantidad }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <!-- <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label>Archivados </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <q-item-label>
                        <q-btn text-color="red" round dense flat icon="lab la-first-order-alt" />
                        (Index: {{ props.row.index }}).
                      </q-item-label>
                    </q-item-section>
                  </q-item> -->

                </div>
              </q-td>

            </q-tr>
          </template>

          </q-table>
        </div>

        <div class="col-4 q-pa-sm">
          <q-table
            flat
            ref="tableRef"
            :rows="rows"
            :columns="columns"
            :table-colspan="9"
            row-key="index"
            virtual-scroll
            :virtual-scroll-item-size="48"
            :pagination="pagination"
            :rows-per-page-options="[0]"
            v-model:expanded="expanded"
            hide-header
          >
          <template v-slot:top-left>
            <q-btn borderless dense flat no-caps width="100%">
              <strong>Proyecto de Venta</strong>
            </q-btn>
            <!-- <q-avatar color="accent-10" class="text-primary" size="42px" icon="group"/> -->
            <!-- <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input> -->
          </template>
          <template v-slot:top-right>
            <q-avatar color="accent-10" class="text-primary" size="42px" icon="handshake"/>
          </template>
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width />

              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props" :key="`m_${props.row.index}`" class="bg-background">
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                <strong>{{ col.value }}</strong>
              </q-td>
              <q-td auto-width>
                <q-btn size="sm" color="" flat dense @click="props.expand = !props.expand" :icon="props.expand ? 'las la-angle-up' : 'las la-angle-down'" />
              </q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props" :key="`e_${props.row.index}`" class="q-virtual-scroll--with-prev">
              <q-td colspan="100%">
                <div class="text-left">
                  <q-item v-for="hijo in props.row.hijos" :key="hijo.name" clickable v-ripple>
                    <q-item-section>
                      <q-item-label>{{ hijo.name }} </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <q-item-label>
                        <q-btn :text-color="hijo.color" round dense flat icon="circle" />
                        {{ hijo.cantidad }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <!-- <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label>Archivados </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <q-item-label>
                        <q-btn text-color="red" round dense flat icon="lab la-first-order-alt" />
                        (Index: {{ props.row.index }}).
                      </q-item-label>
                    </q-item-section>
                  </q-item> -->

                </div>
              </q-td>

            </q-tr>
          </template>

          </q-table>
        </div>

        <div class="col-4 q-pa-sm">
          <q-table
            flat
            ref="tableRef"
            title="Mis proyectos"
            :rows="rows"
            :columns="columns"
            :table-colspan="9"
            row-key="index"
            virtual-scroll
            :virtual-scroll-item-size="48"
            :pagination="pagination"
            :rows-per-page-options="[0]"
            v-model:expanded="expanded"
            hide-header
          >
          <template v-slot:top-left>
            <q-btn borderless dense flat no-caps width="100%">
              <strong>Mis Proyectos</strong>
            </q-btn>
            <!-- <q-avatar color="accent-10" class="text-primary" size="42px" icon="group"/> -->
            <!-- <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input> -->
          </template>
          <template v-slot:top-right>
            <q-avatar color="accent-10" class="text-primary" size="42px" icon="desktop_windows"/>
          </template>
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width />

              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props" :key="`m_${props.row.index}`" class="bg-background">
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                <strong>{{ col.value }}</strong>
              </q-td>
              <q-td auto-width>
                <q-btn size="sm" flat dense @click="props.expand = !props.expand" :icon="props.expand ? 'las la-angle-up' : 'las la-angle-down'" />
              </q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props" :key="`e_${props.row.index}`" class="q-virtual-scroll--with-prev">
              <q-td colspan="100%">
                <div class="text-left">
                  <q-item v-for="hijo in props.row.hijos" :key="hijo.name" clickable v-ripple>
                    <q-item-section>
                      <q-item-label>{{ hijo.name }} </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <q-item-label>
                        <q-btn :text-color="hijo.color" round dense flat icon="circle" />
                          {{ hijo.cantidad }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <!-- <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label>Archivados </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <q-item-label>
                        <q-btn text-color="red" round dense flat icon="lab la-first-order-alt" />
                        (Index: {{ props.row.index }}).
                      </q-item-label>
                    </q-item-section>
                  </q-item> -->

                </div>
              </q-td>

            </q-tr>
          </template>

          </q-table>
        </div>
      </div>

<!--
      <BasicButton
        name="crear +"
        @click="test1()"/>
      <SimpleBasicButton
        name="crear -"
        icon="las la-arrows-alt"
        @click="test2()"/>
      {{ contador }} -->
    </div>

  </q-page>
</template>

<!-- <script setup lang="ts">
import { ref } from 'vue';
import { event } from 'quasar';
import BasicButton from 'src/components/buttons/BasicButton.vue';
import SimpleBasicButton from 'src/components/buttons/SimpleBasicButton.vue';

const contador = ref(0)

const test1 = () => {
  console.log('🚀 ~ file: ProjectsPage.vue:17 ~ event:', event)
  contador.value++
}
const test2 = () => {
  console.log('🚀 ~ file: ProjectsPage.vue:20 ~ event:', event)
  contador.value--
}

</script> -->


<script>
import { ref, onMounted } from 'vue'

const columns = [
  {
    name: 'desc',
    required: true,
    label: 'Dessert (100g serving)',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'cantidad', align: 'center', label: 'Cantidad', field: 'cantidad', sortable: true },
]

const seed = [
  {
    name: 'Grupos: 8',
    cantidad: 159,
    hijos: [
      {
        name: 'Activos',
        color: 'red',
        cantidad: 4
      },
      {
        name: 'Archivados',
        color: 'green',
        cantidad: 4
      }
    ]
  },
  {
    name: 'Objetivos: 32',
    cantidad: 237,
    hijos: [
      {
        name: 'Completados',
        color: 'green',
        cantidad: 4
      },
      {
        name: 'En curso',
        color: 'orange',
        cantidad: 4
      },
      {
        name: 'Atrasados',
        color: 'red',
        cantidad: 4
      }
    ]
  },
  {
    name: 'Tareas: 10',
    cantidad: 262,
    hijos: [
      {
        name: 'Completados',
        color: 'green',
        cantidad: 4
      },
      {
        name: 'En curso',
        color: 'orange',
        cantidad: 4
      },
      {
        name: 'Atrasados',
        color: 'red',
        cantidad: 4
      }
    ]
  },
]

const seedSize = seed.length

let rows = []
for (let i = 0; i < 1; i++) {
  rows = rows.concat(seed.map((r, j) => ({ ...r, index: i * seedSize + j + 1 })))
}

const initialExpanded = rows.filter((r, i) => i % 3 === 0).map(r => r.index)

export default {
  setup () {
    const tableRef = ref(null)

    onMounted(() => {
      tableRef.value.scrollTo(5000)
    })

    return {
      tableRef,

      expanded: ref(initialExpanded),
      columns,
      rows,

      pagination: {
        rowsPerPage: 0
      }
    }
  }
}
</script>
