// app global css in SCSS form

//Colores
@import "./quasar.variables.scss";

.text-background {
  color: $background !important;
}
.bg-background {
  background: $background !important;
}

.text-background-silver {
  color: $background-silver !important;
}
.bg-background-silver {
  background: $background-silver !important;
}
.icon-list {
  color: $icon-list !important;
}

.text-accent-60 {
  color: $accent-60 !important;
}
.bg-accent-60 {
  background: $accent-60 !important;
}

.text-accent-30 {
  color: $accent-30 !important;
}
.bg-accent-30 {
  background: $accent-30 !important;
}

.text-accent-10 {
  color: $accent-10 !important;
}
.bg-accent-10 {
  background: $accent-10 !important;
}

//Typography
h1 {
  font-weight: bold;
  font-size: 24pt;
  line-height: 36pt;
}

h2 {
  font-weight: bold;
  font-size: 24pt;
  line-height: 36pt;
}

h3 {
  font-weight: medium;
  font-size: 16pt;
  line-height: 24pt;
}

.text-h1 {
  font-weight: bold;
  font-size: 24pt;
  line-height: 36pt;
}

.text-h2 {
  font-weight: bold ;
  font-size: 18pt;
  line-height: 27pt;
}

.text-h3 {
  font-weight: medium;
  font-size: 16pt;
  line-height: 24pt;
}

.text-h3-bold {
  font-weight: bold;
  font-size: 16pt;
  line-height: 24pt;
}

.text-body-14 {
  font-weight: normal;
  font-size: 16pt;
  line-height: 24pt;
}

.text-body-14-bold {
  font-weight: bold;
  font-size: 16pt;
  line-height: 24pt;
}

.text-body-article {
  font-weight: normal;
  font-size: 14pt;
  line-height: 180%;
}

.text-body-small {
  font-weight: normal;
  font-size: 12pt;
  line-height: 24pt;
}

.text-body-small-semibold {
  font-weight: 600;
  font-size: 12pt;
  line-height: 24pt;
}

.text-body-secondary {
  font-weight: 500;
  font-size: 10pt;
  line-height: 20pt;
}

.text-body-uppercase {
  font-weight: 600;
  font-size: 12pt;
  line-height: 20pt;
  text-transform: uppercase;
}

.text-body-uppercase-small {
  font-weight: 600;
  font-size: 10pt;
  line-height: 16pt;
  text-transform: uppercase;
}



