// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$typography-font-family : 'Poppins', sans-serif !default;


// old default
// $primary   : #1976D2;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;
// $dark-page : #121212;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;

//Base de colores
$primary    : #6F51FF;
$secondary  : #FF80A3;
$accent     : #8C74FF;

$dark       : #1D1D1D;
$dark-page  : #121212;

$positive   : #21BA45;
$negative   : #C10015;
$info       : #31CCEC;
$warning    : #F2C037;

//variables nuevas
/********************/
$background : #F8F7FB;
$background-silver : #F1EEFB;

$accent-60  : #A997FF;
$accent-30  : #D4CBFF;
$accent-10  : #F1EEFF;

//status
$dangerous-color: #FF7E7E;
$bad-color: #FFD780;
$good-color: #9FD895;

//icon
$icon-list: #4D527E;

