<template>
  <div class="q-gutter-sm" style="height: 50px">
    <q-avatar
      v-for="(usuario, index) in usuariosVisibles"
      :key="index"
      size="42px"
      class="overlapping"
      :style="`left: ${index * 25}px`"
    >
      <img :src="usuario.image">
      <q-avatar
        v-if="cantidadUsuariosInvisibles"
        size="42px"
        class="overlapping"
        :style="`left: ${1 * 25}px`"
        color="accent-10"
      >
        <span class="text-body-small text-primary">+{{ cantidadUsuariosInvisibles }}</span>
      </q-avatar>
    </q-avatar>
  </div>
</template>

<script lang="ts" setup>
import ref, { withDefaults } from 'vue'
import { Usuario } from '../models';

export interface Props {
  usuarios?: Usuario[];
  maxAvatars?: number;
}

const props = withDefaults(defineProps<Props>(),{
  usuarios: () => [],
  maxAvatars: 3
});

const maximo = props.maxAvatars || 3
const cantidadUsuariosInvisibles = (props.usuarios.length - maximo) > 0 ? (props.usuarios.length - maximo) : 0
const usuariosVisibles = props.usuarios.filter((usuario, index) => index < maximo)

</script>

<style lang="scss" scoped>
.overlapping {
  border: 2px solid white;
  position: absolute
}
</style>
