<template>
  <q-page padding class="flex column">
    <!-- <div class="text-h6">Home page</div> -->
    <div class="q-pa">
      <div class="q-gutter">
        <q-card flat>
          <q-tabs
            v-model="tab"
            dense
            class="bg-background text-grey"
            active-color="black"
            indicator-color="primary"
            align="left"
            narrow-indicator
            no-caps
          >
            <q-tab name="mails" label="Grupos de Trabajo" />
            <q-tab name="alarms" label="Proyectos de venta">
              <q-badge color="secondary" rounded floating>3</q-badge>
            </q-tab>
            <q-tab name="movies" label="Mis proyectos">
              <q-badge color="secondary" rounded floating>2</q-badge>
            </q-tab>
          </q-tabs>

          <q-separator />

          <q-tab-panels class="q-pa-md bg-background" v-model="tab" animated>
            <q-tab-panel name="mails">
              <div class="text-h6">Tareas vencidas</div>
              <div class="q-pa-md">
                <q-table
                  :grid="$q.screen.xs"
                  flat
                  :rows="rows"
                  :columns="columns"
                  row-key="name"
                  :filter="filter"
                >
                  <!-- <template v-slot:top-right>
                    <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template> -->
                </q-table>
              </div>

              <div class="text-h6">Tus grupos de trabajo</div>
              <div class="q-pa-md">
                <q-table
                  :grid="$q.screen.xs"
                  flat
                  :rows="grupos"
                  :columns="columnsGrupos"
                  row-key="name"
                  :filter="filter"
                >
                <!-- <template v-slot:top-right>
                  <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template> -->
                <template v-slot:body-cell-image="props">
                    <q-td :props="props">
                      <q-avatar size="42px">
                        <img src="https://cdn.quasar.dev/img/avatar2.jpg">
                        <!-- <img :src="props.value"> -->
                      </q-avatar>
                    </q-td>
                </template>
                <template v-slot:body-cell-miembros="props">
                  <q-td :props="props">
                    <AvatarGroup
                      :usuarios="props.row.miembros"
                      :max-avatars="1"
                    />
                  </q-td>
                </template>
                </q-table>
              </div>
              <q-btn rounded color="primary" label="Crear grupo" @click="showDialog"/>

            </q-tab-panel>

            <q-tab-panel name="alarms">
              <div class="text-h6">Tareas vencidas</div>
              <div class="q-pa-md">
                <q-table
                  :grid="$q.screen.xs"
                  flat
                  :rows="rows"
                  :columns="columns"
                  row-key="name"
                  :filter="filter"
                >
                  <!-- <template v-slot:top-right>
                    <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template> -->
                </q-table>
              </div>

              <div class="text-h6">Tus grupos de trabajo</div>
              <div class="q-pa-md">
                <q-table
                  :grid="$q.screen.xs"
                  flat
                  :rows="grupos"
                  :columns="columnsGrupos"
                  row-key="name"
                  :filter="filter"
                >
                  <!-- <template v-slot:top-right>
                    <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template> -->
                  <template v-slot:body-cell-image="props">
                    <q-td :props="props">
                      <q-avatar size="42px">
                        <img src="https://cdn.quasar.dev/img/avatar2.jpg">
                        <!-- <img :src="props.value"> -->
                      </q-avatar>
                    </q-td>
                </template>
                <template v-slot:body-cell-miembros="props">
                  <q-td :props="props">
                    <AvatarGroup
                      :usuarios="props.row.miembros"
                      :max-avatars="3"
                    />
                  </q-td>
                </template>
                </q-table>
              </div>
              <q-btn rounded color="primary" label="Crear grupo" @click="showDialog"/>

            </q-tab-panel>

            <q-tab-panel name="movies">
              <div class="flex text-h6">
                <!-- Tareas vencidas -->
                {{ model }}
                <q-btn flat dense rounded label=" " icon-right="arrow_downward">
                  <q-menu touch-position>
                    <q-list style="min-width: 100px">
                      <q-item
                        clickable v-close-popup
                        v-for="filtroTarea in fitrosTareas"
                        :key="filtroTarea.id"
                      >
                        <q-item-section icon="remove" @click="onItemClick(filtroTarea)"> {{ filtroTarea.label }} </q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-btn>
              </div>
              <div class="q-pa-md">
                <q-table
                  :grid="$q.screen.xs"
                  flat
                  :rows="rows"
                  :columns="columns"
                  row-key="name"
                  :filter="filter"
                >
                  <!-- <template v-slot:top-right>
                    <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template> -->
                </q-table>
              </div>

              <div class="text-h6">Tus grupos de trabajo</div>
              <div class="q-pa-md">
                <q-table
                  :grid="$q.screen.xs"
                  flat
                  :rows="grupos"
                  :columns="columnsGrupos"
                  row-key="name"
                  :filter="filter"
                >
                  <!-- <template v-slot:top-right>
                    <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template> -->
                  <template v-slot:body-cell-image="props">
                    <q-td :props="props">
                      <q-avatar size="42px">
                        <img src="https://cdn.quasar.dev/img/avatar2.jpg">
                        <!-- <img :src="props.value"> -->
                      </q-avatar>
                    </q-td>
                </template>
                <template v-slot:body-cell-miembros="props">
                  <q-td :props="props">
                    <AvatarGroup
                      :usuarios="props.row.miembros"
                      :max-avatars="2"
                    />
                  </q-td>
                </template>
                </q-table>
              </div>

              <q-btn rounded color="primary" label="Crear grupo" @click="showDialog"/>

            </q-tab-panel>

          </q-tab-panels>
        </q-card>
      </div>
      <q-dialog v-model="inception">
        <q-card style="width: 800px; max-width: 80vw;">
          <q-card-section>
            <div class="text-h6">Crear nuevo grupo</div>
          </q-card-section>

          <q-card-section class="q-pt-none">

            <div class="q-pa-md">
              <div class="row">
                <div class="col q-pa-md">
                  <q-avatar size="80px">
                    <img src="https://cdn.quasar.dev/img/avatar1.jpg">
                    <!-- <img :src="props.value"> -->
                  </q-avatar>
                </div>
              </div>
              <div class="row">
                <div class="col q-pa-md">
                  <strong>NOMBRE DEL GRUPO</strong>
                  <q-input outlined v-model="text" dense />
                </div>
              </div>
              <div class="row">
                <div class="col q-pa-md">
                  <strong>DESCRIPCIÓN</strong>
                  <q-input type="textarea" outlined v-model="text" dense/>
                </div>
              </div>
              <div class="row">
                <div class="col q-pa-md">
                  <strong>MIEMBROS</strong>
                  <q-input outlined v-model="text" dense/>
                </div>
              </div>
              <div class="row">
                <div class="col q-pa-md">
                  <strong>PRIVACIDAD</strong>
                  <q-option-group
                    v-model="group"
                    :options="options"
                    color="red"
                    left-label
                  />
                </div>
              </div>
            </div>
          </q-card-section>

          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="Cancelar" v-close-popup />
            <q-btn label="Guardar" color="primary" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script setup lang="ts">

import { ref } from 'vue'
import AvatarGroup from 'src/components/avatars/AvatarGroup.vue'
import { filtroTareas } from '../../../components/homeModels';

const columns: any = [
  // {name: 'image', align: 'center', label: 'Image'},
  {
    name: 'tarea',
    required: true,
    label: 'Tarea',
    align: 'left',
    field: (row: any) => row.name,
    format: (val: any) => `${val}`,
    sortable: true
  },
  { name: 'Grupo', align: 'center', label: '', field: 'grupo', sortable: true },
  { name: 'carbs', align: 'center', label: '', field: 'carb', sortable: true },
  { name: 'entrega', label: 'Entrega', field: 'entrega', sortable: true },
]

const rows = [
  {
    image: 'https://cdn.quasar.dev/img/avatar1.jpg',
    name: 'Reservar Observaciones',
    grupo: 'Grupo 1 - Grupo 2',
    entrega: '15/05/2023',
    carbs: 24
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: 'Reservar Observaciones',
    grupo: 'Grupo 3 - Grupo 4',
    entrega: '15/05/2023',
    carbs: 37
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar3.jpg',
    name: 'Eclair',
    grupo: 'Grupo 1 - Grupo 3',
    entrega: '15/05/2023',
    carbs: 23
  },
]

const columnsGrupos: any = [
  {name: 'image', align: 'center', label: 'Grupo'},
  {
    name: 'tarea',
    required: true,
    label: 'Tarea',
    align: 'left',
    field: (row: any) => row.name,
    format: (val: any) => `${val}`,
    sortable: true
  },
  { name: 'Grupo', align: 'center', label: '', field: 'grupo', sortable: true },
  { name: 'carbs', label: '', field: '', sortable: true },
  { name: 'entrega', label: '', field: 'entrega', sortable: true },
  { name: 'miembros', align: 'center', label: 'Miembros'},
]

const grupos: any = [
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: 'Grupo 01',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Alta',
    tiempo: '86h',
    miembros: [
      {
        image: 'https://cdn.quasar.dev/img/avatar1.jpg',
        name: 'Joe Kobe'
      },
      {
        image: 'https://cdn.quasar.dev/img/avatar2.jpg',
        name: 'Joe Kobe'
      },
      {
        image: 'https://cdn.quasar.dev/img/avatar3.jpg',
        name: 'Joe Kobe'
      }
    ],
    acciones: '',
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: 'Grupo 02',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Media',
    tiempo: '86h',
    miembros: [
      {
        image: 'https://cdn.quasar.dev/img/avatar2.jpg',
        name: 'Joe Kobe'
      },
      {
        image: 'https://cdn.quasar.dev/img/avatar1.jpg',
        name: 'Joe Kobe'
      },
      {
        image: 'https://cdn.quasar.dev/img/avatar3.jpg',
        name: 'Joe Kobe'
      }      ,
      {
        image: 'https://cdn.quasar.dev/img/avatar4.jpg',
        name: 'Joe Kobe'
      },
      {
        image: 'https://cdn.quasar.dev/img/avatar5.jpg',
        name: 'Joe Kobe'
      }
    ],
    acciones: '',
  },
  {
    image: 'https://cdn.quasar.dev/img/avatar2.jpg',
    name: 'Grupo 03',
    contacto: 'Oralando Espezua',
    inicio: '15/05/2023',
    final: '15/05/2023',
    prioridad: 'Alta',
    tiempo: '86h',
    miembros: [
      {
        image: 'https://cdn.quasar.dev/img/avatar1.jpg',
        name: 'Joe Kobe'
      },
      {
        image: 'https://cdn.quasar.dev/img/avatar6.jpg',
        name: 'Joe Kobe'
      }
    ],
    acciones: '',
  }
]

const options = ref([
        {
          label: 'Interno',
          value: 'op1'
        },
        {
          label: 'Externo',
          value: 'op2'
        },
      ])


const fitrosTareas: filtroTareas[] = [
  {
    id: 1,
    label: 'Objetivos',
    descripcion: 'Objetivos que vencen pronto'
  },
  {
    id: 2,
    label: 'Tareas',
    descripcion: 'Tareas'
  },
  {
    id: 3,
    label: 'Tareas Vencidas',
    descripcion: 'Tareas Vencidas'
  },
]


  const text = ref('')
  const tab = ref('mails')
  const filter = ref('')
  const inception = ref(false)
  const group = ref('op1')
  const model = ref('Objetivos que vencen pronto')

  const showDialog = () => (inception.value = true)

  const onItemClick = (item: filtroTareas) => {
    model.value = item.descripcion
    // console.log('Clicked on an Item')
  }

</script>
