<template>
  <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.28125 10.25H6.84375C6.98438 10.25 7.125 10.1328 7.125 9.96875V4.90625C7.125 4.76562 6.98438 4.625 6.84375 4.625H6.28125C6.11719 4.625 6 4.76562 6 4.90625V9.96875C6 10.1328 6.11719 10.25 6.28125 10.25ZM10.125 2.375H8.17969L7.38281 1.0625C7.19531 0.734375 6.82031 0.5 6.42188 0.5H4.05469C3.65625 0.5 3.28125 0.734375 3.09375 1.0625L2.29688 2.375H0.375C0.164062 2.375 0 2.5625 0 2.75V3.125C0 3.33594 0.164062 3.5 0.375 3.5H0.75V11.375C0.75 12.0078 1.24219 12.5 1.875 12.5H8.625C9.23438 12.5 9.75 12.0078 9.75 11.375V3.5H10.125C10.3125 3.5 10.5 3.33594 10.5 3.125V2.75C10.5 2.5625 10.3125 2.375 10.125 2.375ZM4.00781 1.69531C4.03125 1.67188 4.07812 1.625 4.125 1.625C4.125 1.625 4.125 1.625 4.14844 1.625H6.35156C6.39844 1.625 6.44531 1.67188 6.46875 1.69531L6.86719 2.375H3.60938L4.00781 1.69531ZM8.625 11.375H1.875V3.5H8.625V11.375ZM3.65625 10.25H4.21875C4.35938 10.25 4.5 10.1328 4.5 9.96875V4.90625C4.5 4.76562 4.35938 4.625 4.21875 4.625H3.65625C3.49219 4.625 3.375 4.76562 3.375 4.90625V9.96875C3.375 10.1328 3.49219 10.25 3.65625 10.25Z" fill="#4D527E"/>
  </svg>
</template>

<script>
  export default {
    name: 'EditIcon',
    props: {
      fill: {
        type: String,
        default: () => {
          return '#2c3852'
        }
      }
    }
  }
</script>
