<template>
  <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.75 1.875C6.49219 1.89844 6.23438 1.92188 6 1.99219C6.11719 2.17969 6.16406 2.41406 6.1875 2.625C6.1875 3.35156 5.57812 3.9375 4.875 3.9375C4.64062 3.9375 4.40625 3.89062 4.24219 3.77344C4.17188 4.00781 4.125 4.24219 4.125 4.5C4.125 5.95312 5.29688 7.125 6.75 7.125C8.20312 7.125 9.375 5.95312 9.375 4.5C9.375 3.07031 8.20312 1.89844 6.75 1.89844V1.875ZM13.4062 4.17188C12.1406 1.6875 9.60938 0 6.75 0C3.86719 0 1.33594 1.6875 0.0703125 4.17188C0.0234375 4.26562 0 4.38281 0 4.5C0 4.64062 0.0234375 4.75781 0.0703125 4.85156C1.33594 7.33594 3.86719 9 6.75 9C9.60938 9 12.1406 7.33594 13.4062 4.85156C13.4531 4.75781 13.4766 4.64062 13.4766 4.52344C13.4766 4.38281 13.4531 4.26562 13.4062 4.17188ZM6.75 7.875C4.42969 7.875 2.29688 6.58594 1.17188 4.5C2.29688 2.41406 4.42969 1.125 6.75 1.125C9.04688 1.125 11.1797 2.41406 12.3047 4.5C11.1797 6.58594 9.04688 7.875 6.75 7.875Z" fill="#4D527E"/>
  </svg>
</template>

<script>
  export default {
    name: 'EditIcon',
    props: {
      fill: {
        type: String,
        default: () => {
          return '#2c3852'
        }
      }
    }
  }
</script>
