<script setup lang="ts">
import { ref } from 'vue';
import NewButton from '../../../components/buttons/new-button/NewButton.vue';
import HeaderListContent from '../../../components/content/HeaderListContent.vue';
import EyeButton from '../../../components/buttons/eye-button/EyeButton.vue';
import EditButton from '../../../components/buttons/edit-button/EditButton.vue';
import DeleteButton from '../../../components/buttons/delete-button/DeleteButton.vue';
import SaveButton from '../../../components/buttons/save-button/SaveButton.vue';
import CancelButton from '../../../components/buttons/cancel-button/CancelButton.vue';

const inception = ref(false);
const text = ref('');

const rows = [
  {
    nombre: 'Bodega Plásticos',
    bodega: 'Bodega 01',
    direccion: 'Calle Los Girasoles del SUR 1465 - VMT',
    capacidad: '280 cajas',
    uso: '180 cajas',
    capacidadRestante: '100 cajas',
  },
  {
    nombre: 'Bodega 6 - 10° C',
    bodega: 'Bodega 02',
    direccion: 'Calle Los Girasoles del SUR 1465 - VMT',
    capacidad: '280 cajas',
    uso: '180 cajas',
    capacidadRestante: '100 cajas',
  },
  {
    nombre: 'Bodega de vidrios',
    bodega: 'Bodega 03',
    direccion: 'Calle Los Girasoles del SUR 1465 - VMT',
    capacidad: '280 cajas',
    uso: '180 cajas',
    capacidadRestante: '100 cajas',
  },
  {
    nombre: 'Bodega de congelados',
    bodega: 'Bodega 04',
    direccion: 'Calle Los Girasoles del SUR 1465 - VMT',
    capacidad: '280 cajas',
    uso: '180 cajas',
    capacidadRestante: '100 cajas',
  },
  {
    nombre: 'Bodega 6 - 10° C',
    bodega: 'Bodega 05',
    direccion: 'Calle Los Girasoles del SUR 1465 - VMT',
    capacidad: '280 cajas',
    uso: '180 cajas',
    capacidadRestante: '100 cajas',
  },
  {
    nombre: 'Bodega Plásticos',
    bodega: 'Bodega 06',
    direccion: 'Calle Los Girasoles del SUR 1465 - VMT',
    capacidad: '280 cajas',
    uso: '180 cajas',
    capacidadRestante: '100 cajas',
  },
];

function nuevo() {
  inception.value = true;
}
function view() {
  inception.value = true;
}
function editar() {
  inception.value = true;
}
function trash() {
  console.log('trash');
}
function close() {
  inception.value = false;
}
</script>

<template>
  <q-page style="padding-left: 30px; padding-right: 20px">
    <div class="q-pa-md">
      <div class="q-pa-md">
        <div class="fit row wrap justify-start items-center content-start">
          <div class="col-1" style="width: 180px">
            <NewButton @click="nuevo" />
          </div>
        </div>
      </div>

      <HeaderListContent description="Lista de bodegas" />

      <div class="q-pa-md">
        <div
          class="fit row wrap justify-between items-center content-start header"
        >
        <div class="col-2 label-header">NOMBRE</div>
        <div class="col-1 label-header">BODEGA</div>
        <div class="col-2 label-header">DIRECCIÓN</div>
        <div class="col-1 label-header">CAPACIDAD</div>
        <div class="col-1 label-header">USO</div>
        <div class="col-2 label-header">CAPACIDAD RESTANTE</div>
        <div class="col-1 label-header"></div>
        </div>
        <div
          class="fit row wrap justify-between items-center content-start header"
          v-for="(item, index) in rows"
          :key="index"
        >
          <div class="col-2 label-list">{{ item.nombre }}</div>
          <div class="col-1 label-list">{{ item.bodega }}</div>
          <div class="col-2 label-list">{{ item.direccion }}</div>
          <div class="col-1 label-list">{{ item.capacidad }}</div>
          <div class="col-1 label-list">{{ item.uso }}</div>
          <div class="col-2 label-list">{{ item.capacidadRestante }}</div>
          <div class="col-1">
            <div
              class="fit row wrap justify-between items-center content-start"
            >
              <EyeButton @click="view" />
              <EditButton @click="editar" />
              <DeleteButton @click="trash" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <q-dialog v-model="inception">
      <q-card style="width: 800px; max-width: 80vw">
        <q-card-section style="padding-bottom: 0%;">
          <div class="q-pa-md row items-center q-pb-none">
            <div style="font-weight: bold; font-size: 24px; color: #373458">
              Nueva Bodega
            </div>
            <q-space />
            <q-btn
              round
              color="primary"
              style="background-color: #f1eefb !important"
              size="1.1em"
              v-close-popup
            >
              <q-icon name="mdi-close-thick" color="primary" />
            </q-btn>
          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="q-pa-md">
            <div class="row q-col-gutter-x-lg q-col-gutter-y-md">
              <div class="col-6">
                <strong>NOMBRE DE LA BODEGA</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;" />
              </div>
              <div class="col-6">
                <strong>DIRECCIÓN</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-12" style="font-weight: bold; font-size: 20px; color: #373458">
                PARÁMETROS DE LA BODEGA - CAPACIDAD
              </div>
              <div class="col-6">
                <strong>LONGITUD</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-6">
                <strong>ALTURA</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-6">
                <strong>PROFUNDIDAD</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-6">
                <strong>CAPACIDAD</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-6">
                <strong>CAPACIDAD REAL</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-12" style="font-weight: bold; font-size: 20px; color: #373458">
                COSTOS
              </div>
              <div class="col-6">
                <strong>VALOR DE RENTA</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-6">
                <strong>COSTO DE ALMACÉN</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-6">
                <strong>UMBRAL DE TOLERANCIA</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
              <div class="col-6">
                <strong>VALOR MAX. DE BODEGAJE</strong>
                <q-input outlined v-model="text" placeholder="Colocar" dense style="margin-top: 8px;"/>
              </div>
            </div>
          </div>
        </q-card-section>

        <q-card-actions>
          <div
            class="q-pa-md fit row wrap justify-end items-start content-start"
          >
            <CancelButton @click="close" />
            <SaveButton @click="close" />
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<style lang="scss">
.header {
  margin-bottom: 10px;
  box-shadow: 0px 8px 8px rgba(111, 81, 255, 0.04);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.label-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2c3852;
}
.label-list {
  font-size: 15px;
  line-height: 16px;
  color: #2c3852;
}
</style>
