<template>
  <q-layout view="lhh lpR lFf" class="bg-primary">

    <q-header class="text-dark" height-hint="98">
      <q-toolbar class="bg-background rounded-top-left">
        <q-btn dense flat round icon="las la-bars" @click="toggleLeftDrawer" />
        <q-toolbar-title class=""><h1>{{ model }}</h1></q-toolbar-title>
        <!-- <q-toolbar-title>
          <q-btn dense flat round color="background" text-color="secondary" icon="las la-bell" />
          Actividad 001
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-black.svg">
          </q-avatar>

        </q-toolbar-title> -->
        <q-btn dense flat text-color="secondary" icon="las la-bell">
          <q-badge floating rounded color="secondary">3</q-badge>
        </q-btn>

        <q-separator inset spaced="sm" size="35px" />
          Actividad 001
        <q-separator inset spaced="sm"/>

        <q-btn-group outline rounded>
          <q-btn color="background" outline text-color="primary" rounded icon-right="update" label="03:10"/>
          <q-btn color="background" outline text-color="primary" rounded icon="menu"/>
        </q-btn-group>

        <q-separator inset spaced="sm"/>

        <q-avatar class="q-sm">
          <img src="https://cdn.quasar.dev/img/boy-avatar.png">
        </q-avatar>

        <q-separator inset spaced="sm"/>

      </q-toolbar>

      <!-- <q-tabs align="left">
        <q-route-tab to="/page1" label="Grupos de Trabajo" />
        <q-route-tab to="/page2" label="Proyectos de Venta" />
        <q-route-tab to="/page3" label="Mis proyectos" />
      </q-tabs> -->
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      :width="260"
      :breakpoint="400"
      class="bg-primary text-white"
    >
<!-- <q-img class="absolute-top" src="https://img.freepik.com/foto-gratis/grupo-personas-trabajando-plan-negocios-oficina_1303-15874.jpg?w=1060&t=st=1683763129~exp=1683763729~hmac=092e4c94484587e8c6d710cd3dbc5205df279755c1656d4db0898786aadd7b5f" style="height: 120px"></q-img> -->

      <div class="absolute-top" style="height: 120px">
        <q-img dense class="absolute-center" src="../assets/logo-light.svg" style=" width:180px;">
        </q-img>
      </div>
      <q-scroll-area style="height: calc(100% - 130px); margin-top: 130px; border-right: 1px solid #6F51FF">
        <div class="q-pa-md" style="max-width: 300px" text-color="secondary">
          <div class="q-gutter-md text-white" text-color="secondary">
            <q-select
              bg-color="primary"

              standout="bg-primary text-white"
              popup-content-class="bg-primary text-white"
              color="white"
              v-model="model"
              :options="options"
              dropdown-icon="las la-caret-down"
            ></q-select>
          </div>
        </div>
        <q-separator class="bg-primary" inset spaced="sm" size="70px" />
        <q-list>
          <!-- <q-item-label
            header
            class="text-white"
          >
            TNT-light
          </q-item-label> -->

          <EssentialLink
            v-for="link in listMenu"
            :key="link.title"
            v-bind="link"
          />
        </q-list>
      </q-scroll-area>

    </q-drawer>

    <q-page-container>
      <router-view class="bg-background rounded-bottom-left"/>
    </q-page-container>

  </q-layout>
</template>

<script lang="ts">
import EssentialLink, { EssentialLinkProps } from 'components/EssentialLink.vue';
import { essentialLinks, essentialLinksActivities } from '../router/link-list';

import { defineComponent, ref, computed } from 'vue';

const options = [
  'RR.HH.', 'CRM', 'Activities', 'Logística', 'Finanzas','Others'
]

export default defineComponent({
  name: 'MainLayoutTabs',

  components: {
    EssentialLink
  },

  setup() {
    //combo modulos
    const model= ref('Activities')
    const leftDrawerOpen = ref(false)
    // let listMenu = ref([])

    const listMenu = computed<EssentialLinkProps[]>(() => essentialLinksActivities.filter( link => link.modulo === model.value))

    return {
      listMenu: listMenu,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      model,
      options,
    }
  }

})

// const essentialLinks: EssentialLinkProps[] = [
//   {
//     title: 'Typograpy',
//     caption: 'Tipos de letras en Quasar',
//     icon: 'las la-font',
//     link: 'typography'
//   },
//   {
//     title: 'Flex',
//     caption: 'Estilos con flex',
//     icon: 'las la-layer-group',
//     link: 'flex'
//   },
//   {
//     title: 'About',
//     caption: 'acerca del proyecto',
//     icon: 'lab la-forumbee',
//     link: 'about'
//   },
//   {
//     title: 'Docs',
//     caption: 'quasar.dev',
//     icon: 'las la-graduation-cap',
//     link: 'https://quasar.dev'
//   },
// ];

</script>

<style lang="scss" scoped>
.rounded-top-left {
  border-radius: 3rem 0 0 0;
  // padding: 20px;
}
.rounded-bottom-left {
  border-radius: 0 0 0 4em;
}
.menu-list .q-item {
  border-radius: 32px;
}
</style>
