<script setup lang="ts">
import { ref } from 'vue';
import NewButton from '../../../components/buttons/new-button/NewButton.vue';
import HeaderListContent from '../../../components/content/HeaderListContent.vue';
import EyeButton from '../../../components/buttons/eye-button/EyeButton.vue';
import EditButton from '../../../components/buttons/edit-button/EditButton.vue';
import DeleteButton from '../../../components/buttons/delete-button/DeleteButton.vue';
import SelectStatus from '../../../components/select/select-status/SelectStatus.vue';

import SaveButton from '../../../components/buttons/save-button/SaveButton.vue';
import CancelButton from '../../../components/buttons/cancel-button/CancelButton.vue';

const inception = ref(false);

const text = ref('');
const estado = ref('activo');

const headerList = [
  'CODIGO',
  'NOMBRE',
  'DESCRIPCIÓN',
  'PROVEEDOR',
  'TIPO',
  'CATEGORIA',
  '',
];
const rows = [
  {
    codigo: '123456',
    nombre: 'Iphone 13 Pro Max',
    descripcion: 'iphone 13 Pro Max 256 GB',
    proveedor: 'Apple',
    tipo: 'Bien',
    categoria: 'Celulares',
  },
];

const statusList = ref(['Todos', 'Estado 1', 'Estado 2']);
const typeList = ref(['Todos', 'Tipo 1', 'Tipo 2']);

function nuevo() {
  inception.value = true;
}
function view() {
  console.log('view');
}
function editar() {
  inception.value = true;
}
function trash() {
  inception.value = true;
}
function close() {
  inception.value = false;
}
</script>

<template>
  <q-page style="padding-left: 30px; padding-right: 20px">
    <div class="q-pa-md">
      <div class="q-pa-md">
        <div class="fit row wrap justify-start items-center content-start">
          <div class="col-1" style="width: 180px">
            <NewButton @click="nuevo" />
          </div>
          <div class="col-3">
            <SelectStatus name="TIPO" :list="statusList" />
          </div>
          <div class="col-3">
            <SelectStatus name="CATEGORIA" :list="typeList" />
          </div>
        </div>
      </div>

      <HeaderListContent description="Bienes y Servicios" />

      <div class="q-pa-md">
        <div
          class="fit row wrap justify-between items-center content-start header"
        >
          <div
            class="col-1 label-header"
            v-for="(item, index) in headerList"
            :key="index"
          >
            {{ item }}
          </div>
        </div>
        <div
          class="fit row wrap justify-between items-center content-start header"
          v-for="(item, index) in rows"
          :key="index"
        >
          <div class="col-1 label-list">{{ item.codigo }}</div>
          <div class="col-1 label-list">{{ item.nombre }}</div>
          <div class="col-1 label-list">{{ item.descripcion }}</div>
          <div class="col-1 label-list">{{ item.proveedor }}</div>
          <div class="col-1 label-list">{{ item.tipo }}</div>
          <div class="col-1 label-list">{{ item.categoria }}</div>
          <div class="col-1">
            <div
              class="fit row wrap justify-between items-center content-start"
            >
              <EyeButton @click="view" />
              <EditButton @click="editar" />
              <DeleteButton @click="trash" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <q-dialog v-model="inception">
      <q-card style="width: 800px; max-width: 80vw">
        <q-card-section style="padding-bottom: 0%">
          <div class="q-pa-md row items-center q-pb-none">
            <div style="font-weight: 700; font-size: 24px; color: #373458">
              Nuevo Proveedor
            </div>
            <q-space />
            <q-btn
              round
              color="primary"
              style="background-color: #f1eefb !important"
              size="1.1em"
              v-close-popup
            >
              <q-icon name="mdi-close-thick" color="primary" />
            </q-btn>
          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="q-pa-md">
            <div class="row q-col-gutter-x-lg q-col-gutter-y-md">
              <div class="col-6">
                <strong>NOMBRE DEL PROVEEDOR</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>TIPO DE PROVEEDOR</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>PERSONA DE CONTACTO</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>TELÉFONO</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>CORREO ELECTRÓNICO</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>DIRECCIÓN</strong>
                <q-input
                  outlined
                  v-model="text"
                  placeholder="Colocar"
                  dense
                  style="margin-top: 8px"
                />
              </div>
              <div class="col-6">
                <strong>ESTADO</strong>
                <div>
                  <q-radio
                    v-model="estado"
                    val="activo"
                    label="Activo"
                    size="lg"
                  />
                  <q-radio
                    v-model="estado"
                    val="inactivo"
                    label="Inactivo"
                    size="lg"
                  />
                </div>
              </div>
            </div>
          </div>


        </q-card-section>

        <q-card-actions>
          <div
            class="q-pa-md fit row wrap justify-end items-start content-start"
          >
            <CancelButton @click="close" />
            <SaveButton @click="close" />
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<style lang="scss">
.header {
  margin-bottom: 10px;
  box-shadow: 0px 8px 8px rgba(111, 81, 255, 0.04);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.label-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2c3852;
}
.label-list {
  font-size: 15px;
  line-height: 16px;
  color: #2c3852;
}
</style>
