<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <label class="label--input">
        {{ label }}
      </label>
      <v-text-field
        :class="{ 'input--disable': disabled }"
        v-model="computedDateFormatted"
        :filled="!filled"
        dense
        hide-details="auto"
        outlined
        :clearable="clearable"
        persistent-hint
        :disabled="disabled"
        readonly
        v-on="on"
        placeholder="dd/MM/yyyy"
        :rules="rules"
      >
        <template v-slot:prepend-inner>
          <v-icon color="#2C3852" size="14px">far fa-calendar-alt</v-icon>
        </template>
      </v-text-field>
    </template>
    <v-date-picker
      v-model="model"
      :weekday-format="weekdayFormat"
      :header-date-format="headerFormat"
      no-title
      color="primary"
      first-day-of-week="0"
      :min="min"
      :max="max"
      @input="menu = false"
      :allowed-dates="
        disableHolidays === true || disableDays.length > 0
          ? validaDaysAllow
          : null
      "
    ></v-date-picker>
  </v-menu>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
dayjs.extend(utc);

const daysOfWeek = ['LU', 'MA', 'MI', 'JU', 'VI', 'SA', 'DO'];
export default {
  name: 'CustomDatePicker',
  props: {
    value: Date,
    disabled: Boolean,
    label: String,
    filled: Boolean,
    min: String,
    max: String,
    clearable: Boolean,
    disableHolidays: {
      default: false,
      type: Boolean,
    },
    disableDays: {
      type: Array,
      default: () => [],
      validator: days => {
        let exist = true;
        days.forEach(day => {
          exist =
            [
              'MONDAY',
              'TUESDAY',
              'WEDNESDAY',
              'THURSDAY',
              'FRIDAY',
              'SATURDAY',
              'SUNDAY',
            ].includes(day) === exist;
        });
        return exist;
      },
    },
    readonly: {
      type: Boolean,
      default: () => {
        return false;
      },
    },
    rules: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  data: vm => ({
    menu: false,
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
  }),
  created() {
    if (this.disableHolidays) {
      this.getFeriadoAll();
    }
  },
  computed: {
    ...mapGetters(['feriados']),
    model: {
      get() {
        return this.value ? dayjs(this.value).utc().format('YYYY-MM-DD') : '';
        // ? moment(this.value).utcOffset('+0800').format('YYYY-MM-DD')
        // : '';

        // console.log(moment(this.value).format('YYYY-MM-DD'));
        // console.log(new Date(this.value).toISOString().substr(0, 10));
        // return this.value
        //   ? new Date(this.value).toISOString().substr(0, 10)
        //   : '';
      },
      set(val) {
        this.$emit('input', val);
      },
    },
    computedDateFormatted: {
      get() {
        // const date = new Date(this.value).toISOString().substr(0, 10);
        // return this.value ? this.formatDate(date) : '';
        return this.value ? this.formatDate(this.value) : '';
      },
      set(val) {
        this.$emit('input', val);
      },
    },
  },
  watch: {
    value() {
      this.dateFormatted = this.formatDate(this.value);
    },
  },
  methods: {
    ...mapActions(['getFeriadoAll']),
    formatDate(date) {
      if (!date) return null;
      return dayjs(date).utc().format('DD/MM/YYYY');
      // return moment(date).utcOffset('+0800').format('DD/MM/YYYY');

      // let custom = new Date(date).toISOString().substr(0, 10);
      // const [year, month, day] = custom.split('-');
      // return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      // return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
      // return moment(date).utcOffset('+0800').format('YYYY-MM-DD')
      return dayjs(date).utc().format('YYYY-MM-DD');
    },
    weekdayFormat(date) {
      let i = new Date(date).getDay();
      return daysOfWeek[i];
    },
    headerFormat(date) {
      dayjs.locale('es');
      return dayjs(date, 'YYYY-MM')
        .format('MMMM YYYY')
        .split(' ')
        .map(v => v[0].toUpperCase() + v.substr(1).replace('.', ''))
        .join(' ');
    },
    setFecha() {
      this.dateFormatted = this.formatDate(this.value);
    },
    validateDateHoliday(date) {
      const result = this.feriados.filter(feriado => {
        if (feriado.estado === true) {
          return feriado.fecha === date;
        }
      });
      return result.length == !this.disableHolidays;
    },
    validateDaysNotAllow(date) {
      let nameDay = dayjs(date, 'YYYY-MM-DD')
        .locale('en')
        .format('dddd')
        .toUpperCase();
      return !this.disableDays.includes(nameDay);
    },
    validaDaysAllow(date) {
      let allowDay =
        this.disableDays.length > 0 ? this.validateDaysNotAllow(date) : true;

      if (allowDay === false && this.validateDateHoliday(date) === false) {
        return false;
      } else {
        return this.disableHolidays
          ? this.validateDateHoliday(date) === allowDay
          : true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/settings/colors';
.input--disable {
  ::v-deep fieldset {
    background-color: $color-background;
  }
}
</style>
